<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../../lib/icheck/icheck.css"/>
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui/css/merchant-management/children_merchantSearch.css"/>
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>已结算查询</title>
</head>
<body ng-controller="mySettleCtr">
<div class="wrap_container">
	<div class="oneSection">
		<form action="" class="form-inline gap select-box1">
			<div class="form-group con gap col-sm-2">
				<label for="">商户：</label>
				<select name="" class="radius inline input-text bussvalue" style="width: 126px;">
					<option value="">全部</option>
					<option value="">1</option>
					<option value=""></option>
				</select>
			</div>
			<div class="clear"></div>
			<div class="form-group col-sm-4 gap con pull-top">
				<label class="">日期：</label>
				<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate radius firstTime" style="width:126px;">
				至
				<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate radius lastTime" style="width:126px;">
			</div>
			<div class="form-group gap con pull-top">
				<label for="">最近结算日期为：</label>
				<label for="">2017-5-07</label>
			</div>
			<div class="gap form-group pull-top col-offset-4">
				<button type="button" ng-click="search()" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i>查询</button>
			</div>
		</form>	
		<div style="width:98%;margin:0 auto;height:40px;line-height: 40px;" class="form-inline" ng-repeat="item in data.money">
			<label for="" class="">总计：结算金额：</label>
			<label for="" ng-bind="item.allmoney | currency :' '"></label>&nbsp;&nbsp;|&nbsp;&nbsp; 
			<label for="">临卡结算：</label>
			<label for="" ng-bind="item.lingka | currency :' '"></label>&nbsp;&nbsp;|&nbsp;&nbsp;
			<label for="">月卡结算：</label>
			<label for="" ng-bind="item.yueka | currency :' '"></label>&nbsp;&nbsp;|&nbsp;&nbsp;
			<!--<label for="">退款金额：</label>
			<label for="" ng-bind="item.tuikuan | currency :' '"></label>&nbsp;&nbsp;|&nbsp;&nbsp;-->
			<label for="">手续费：</label>
			<label for="" ng-bind="item.shouxufei | currency :' '"></label>
		</div>
		<div class="table-responsive table-condensed table-bg table-hover table-border table-bordered" style="width: 98%;margin:20px auto;">
			<table border="0" cellspacing="0" cellpadding="0" class="table">
				<thead>
					<tr class="text-c">
						<th>结算日期</th>
						<th>商户</th>
						<th>结算金额（元）</th>
						<th>订单金额（元）</th>
						<th>商户优惠（元）</th>
						<!--<th>退款金额(元)</th>-->
						<th>手续费(元)</th>
						<th>交易日期</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" ng-repeat="item in data.content">
						<td ng-bind="item.user"></td>
						<td ng-bind="item.buss"></td>
						<td ng-bind="item.ip"></td>
						<td ng-bind="item.dress"></td>
						<td ng-bind="item.static"></td>
						<!--<td ng-bind="item.time"></td>-->
						<td ng-bind="item.name"></td>
						<td ng-bind="item.data"></td>
						<td><a style="cursor: pointer;color:#00A0E9;"  onclick="Hui_admin_tab(this);" _href="view/settle-query/table-list.html" data-title="结算明细" ng-bind="item.comfirm"></a></td>
					</tr>
					<tr ng-if="display">
						<td colspan="9" class="text-c">暂无可查询数据</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div style="width:98%;margin:0 auto;">
		<p>说明：</p>
		<p>结算金额  =  临卡结算 + 月卡结算  - 手续费</p>
		<p> 手续费  =  （临卡结算 + 月卡结算）* 1%</p>
	</div>
</div>
</body >
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script> 
<script src="../../lib/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/h-ui/js/service/httpService.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/h-ui/js/controller/already_searchController.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/h-ui/js/json/hadjiesuan.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../../lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="../../lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="../../static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script> 
</html>