<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!--[if lt IE 9]>
		<script type="text/javascript" src="lib/html5.js"></script>
		<script type="text/javascript" src="lib/respond.min.js"></script>
		<script type="text/javascript" src="lib/PIE_IE678.js"></script>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.7/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../lib/icheck/icheck.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../static/h-ui/css/merchant-management/children_merchantSearch.css"/>
		<!--[if IE 6]>
		<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
		<script>DD_belatedPNG.fix('*');</script>
		<![endif]-->
		<![endif]-->
		<title>结算明细</title>
	</head>
	<body ng-controller="myTableCtr">
		<div>
			<form action="" class="form-inline gap select-box1">
			<div class="form-group con gap col-sm-2">
					<label for="">商户：</label>
					<select name="" class="radius inline input-text selectVal" style="width: 126px;">
						<option value="">全部</option>
					</select>
				</div>
				
				<div class="form-group col-offset-3 gap con col-sm-5">
					<label for="" class="typeWay">
						结算类型
					</label>
					<label for="" class="radio-inline col-offset-1 allWay">
						<input type="radio" name="way" id="" value="全部" checked="checked" ng-click="change(1)" class="allpay"/>全部
					</label>&nbsp;&nbsp;
					<label for="" class="radio-inline">
						<input type="radio" name="way" id="" value="临卡" class="payment-list" ng-click="change(2)"/>临卡
						<!--<ul style="position:absolute;left:158px;top:50px;" class="wayList" ng-if="displayCar">
							<li style="float: left;">
								<label for="" class="radio-inline">
									<input type="radio" name="way1" id="" value="全部" class="all-method" checked="checked" />全部
								</label> &nbsp;
							</li>
							<li style="float: left;">
								<label for="" class="radio-inline">
									<input type="radio" name="way1" id="" value="临卡" class="method2"/>临卡
								</label> &nbsp;
							</li>
							<li style="float: left;">
								<label for="" class="radio-inline">
									<input type="radio" name="way1" id="" value="月卡" class="method3"/>月卡
								</label>
							</li>
						</ul>-->
					</label>&nbsp;&nbsp;
					<label for="" class="radio-inline  rebate-btn">
						<input type="radio" name="way" id="月卡" value="" ng-click="change(3)" class="returnMoney"/>月卡
					</label>
				</div>
				<div class="clear"></div>
				<div class="form-group col-sm-4 gap con col-sm-6 pull-top">
					<label class="">日期：</label>
					<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate radius firstTime" style="width:126px;">
					至
					<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate radius lastTime" style="width:126px;">
				</div>
				<div class="gap form-group pull-top col-offset-6">
					<button type="button" class="btn btn-success radius" id="" name="" ng-click="seek()"><i class="Hui-iconfont">&#xe665;</i>查询</button>&nbsp;
					<button type="button" class="btn btn-success radius downloading" id="" name=""><i class="Hui-iconfont">&#xe640;</i>导出Excel</button>
				</div>
			</form>
			<div  style="width:98%;margin:0 auto;min-height:40px;line-height: 40px;" class="form-inline" ng-repeat="item in moneyList.money">
				<label for="" style="font-weight:bold">总计：实结金额:</label>
				<label for="" style="font-weight:bold" ng-bind="item.allmoney | currency:' '"></label>&nbsp;&nbsp;|&nbsp;&nbsp;
				<label for="" style="font-weight:bold">手续费：</label>
				<label for="" style="font-weight:bold" ng-bind="item.lingka | currency:' '">23561.00</label>
				<div class="clear"></div>
				<label for="" style="margin-left:40px">应结金额：</label>
				<label for="" ng-bind="item.yueka | currency:' '"></label>&nbsp;&nbsp;|&nbsp;&nbsp;
				<label for="">订单金额：</label>
				<label for="" ng-bind="item.tuikuan | currency:' '"></label>&nbsp;&nbsp;|&nbsp;&nbsp;
				<label for=""> 商户优惠：</label>
				<label for="" ng-bind="item.shouxufei | currency:' '"></label>&nbsp;&nbsp;|&nbsp;&nbsp;
				<label for=""> 已结金额：</label>
				<label for="" ng-bind="item.allmoney | currency:' '"></label>&nbsp;&nbsp;|&nbsp;&nbsp;
				<label for=""> 待结金额：</label>
				<label for="" ng-bind="item.allmoney | currency:' '"></label>
			</div>
			<div class="table-responsive table-condensed table-bg table-hover table-border table-bordered" style="width: 98%;margin:20px auto;">
				<table border="0" cellspacing="0" cellpadding="0" class="table">
					<thead>
						<tr class="text-c">
							<th>交易时间</th>
							<th>商户</th>
							<th>应结金额（元）</th>
							<th>订单金额（元）</th>
							<th>商户优惠（元）</th>
							<th>已结金额（元）</th>
							<th>待结金额（元）</th>
							<th>结算类型</th>
							<th>结算日期</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-c" ng-repeat="item in moneyList.content">
							<td ng-bind="item.user"></td>
							<td ng-bind="item.buss"></td>
							<td ng-bind="item.ip"></td>
							<td ng-bind="item.dress"></td>
							<td ng-bind="item.static"></td>
							<td ng-bind="item.time"></td>
							<td ng-bind="item.name"></td>
							<td ng-bind="item.data"></td>
							<td ng-bind="item.data"></td>
						</tr>
						<tr class="text-c" ng-if="display">
							<td colspan="9">无可查询数据</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="width:98%;margin:0 auto;">
				<p>说明：</p>
				<p>结算金额  =  临卡结算 + 月卡结算 - 手续费</p>
				<p> 手续费  =  （临卡结算 + 月卡结算）* 1%</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script> 
	<script src="../../lib/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../static/h-ui/js/service/httpService.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../static/h-ui/js/controller/table_listController.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../static/h-ui/js/json/hadjiesuan.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../lib/layer/2.1/layer.js"></script> 
	<script type="text/javascript" src="../../lib/My97DatePicker/WdatePicker.js"></script> 
	<script type="text/javascript" src="../../static/h-ui/js/H-ui.js"></script> 
	<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script> 
	<script type="text/javascript">
//			$(".payment-list").click(function(){
//				if($(this).is(":checked")){
//					$('.wayList').show();
//					$('.all-method').attr("checked","checked");
//				}
//			});
//			$(".allWay").click(function(){
//				$('.wayList').hide();
//			});
//			$('.rebate-btn').click(function(){
//				$('.wayList').hide();
//			})
	</script>
</html>
