<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybl.om.dao.CarparkMapper" >
  <resultMap id="BaseResultMap" type="com.ybl.om.model.Carpark" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="carpark_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dbid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="secret_key" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="group_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="state" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="soft_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="park_des" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="longitude" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="latitude" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="distance" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="sub_appid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sub_mch_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="park_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="total_space_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="created_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="wanke_project_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="wanke_sync_house_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="remain_space_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="space_last_update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="free_time_minute" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="max_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="first_charge_minute" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="first_charge_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="weixin_onlie_pay" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="district" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contact_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="yuetong_etc_pay" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="yuetong_park_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="yuetong_owner_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="alipay_free_secret" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="alipay_onlie_pay" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="park_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="park_mode" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="yuetong_park_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="beck_merchant_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="wanke_parking_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="wanke_parking_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="total_monthrent_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="access_key" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, carpark_name, dbid, secret_key, group_id, state, soft_code, park_des, address, 
    longitude, latitude, distance, sub_appid, sub_mch_id, park_id, total_space_count, 
    created_time, last_update_time, wanke_project_code, wanke_sync_house_time, remain_space_count, 
    space_last_update_time, free_time_minute, max_fee, first_charge_minute, first_charge_fee, 
    weixin_onlie_pay, province, city, district, contact_phone, yuetong_etc_pay, yuetong_park_code, 
    yuetong_owner_code, alipay_free_secret, alipay_onlie_pay, park_type, park_mode, yuetong_park_name, 
    beck_merchant_id, wanke_parking_id, wanke_parking_code, total_monthrent_count, access_key
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bk_carpark
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bk_carpark
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ybl.om.model.Carpark" >
    insert into bk_carpark (id, carpark_name, dbid, 
      secret_key, group_id, state, 
      soft_code, park_des, address, 
      longitude, latitude, distance, 
      sub_appid, sub_mch_id, park_id, 
      total_space_count, created_time, last_update_time, 
      wanke_project_code, wanke_sync_house_time, 
      remain_space_count, space_last_update_time, 
      free_time_minute, max_fee, first_charge_minute, 
      first_charge_fee, weixin_onlie_pay, province, 
      city, district, contact_phone, 
      yuetong_etc_pay, yuetong_park_code, yuetong_owner_code, 
      alipay_free_secret, alipay_onlie_pay, park_type, 
      park_mode, yuetong_park_name, beck_merchant_id, 
      wanke_parking_id, wanke_parking_code, total_monthrent_count, 
      access_key)
    values (#{id,jdbcType=INTEGER}, #{carparkName,jdbcType=VARCHAR}, #{dbid,jdbcType=INTEGER}, 
      #{secretKey,jdbcType=VARCHAR}, #{groupId,jdbcType=INTEGER}, #{state,jdbcType=TINYINT}, 
      #{softCode,jdbcType=VARCHAR}, #{parkDes,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{distance,jdbcType=DECIMAL}, 
      #{subAppid,jdbcType=VARCHAR}, #{subMchId,jdbcType=VARCHAR}, #{parkId,jdbcType=VARCHAR}, 
      #{totalSpaceCount,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{wankeProjectCode,jdbcType=VARCHAR}, #{wankeSyncHouseTime,jdbcType=TIMESTAMP}, 
      #{remainSpaceCount,jdbcType=INTEGER}, #{spaceLastUpdateTime,jdbcType=TIMESTAMP}, 
      #{freeTimeMinute,jdbcType=SMALLINT}, #{maxFee,jdbcType=DECIMAL}, #{firstChargeMinute,jdbcType=SMALLINT}, 
      #{firstChargeFee,jdbcType=DECIMAL}, #{weixinOnliePay,jdbcType=TINYINT}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{yuetongEtcPay,jdbcType=TINYINT}, #{yuetongParkCode,jdbcType=VARCHAR}, #{yuetongOwnerCode,jdbcType=VARCHAR}, 
      #{alipayFreeSecret,jdbcType=TINYINT}, #{alipayOnliePay,jdbcType=TINYINT}, #{parkType,jdbcType=VARCHAR}, 
      #{parkMode,jdbcType=TINYINT}, #{yuetongParkName,jdbcType=VARCHAR}, #{beckMerchantId,jdbcType=VARCHAR}, 
      #{wankeParkingId,jdbcType=VARCHAR}, #{wankeParkingCode,jdbcType=VARCHAR}, #{totalMonthrentCount,jdbcType=INTEGER}, 
      #{accessKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ybl.om.model.Carpark" >
    insert into bk_carpark
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carparkName != null" >
        carpark_name,
      </if>
      <if test="dbid != null" >
        dbid,
      </if>
      <if test="secretKey != null" >
        secret_key,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="softCode != null" >
        soft_code,
      </if>
      <if test="parkDes != null" >
        park_des,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="distance != null" >
        distance,
      </if>
      <if test="subAppid != null" >
        sub_appid,
      </if>
      <if test="subMchId != null" >
        sub_mch_id,
      </if>
      <if test="parkId != null" >
        park_id,
      </if>
      <if test="totalSpaceCount != null" >
        total_space_count,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="wankeProjectCode != null" >
        wanke_project_code,
      </if>
      <if test="wankeSyncHouseTime != null" >
        wanke_sync_house_time,
      </if>
      <if test="remainSpaceCount != null" >
        remain_space_count,
      </if>
      <if test="spaceLastUpdateTime != null" >
        space_last_update_time,
      </if>
      <if test="freeTimeMinute != null" >
        free_time_minute,
      </if>
      <if test="maxFee != null" >
        max_fee,
      </if>
      <if test="firstChargeMinute != null" >
        first_charge_minute,
      </if>
      <if test="firstChargeFee != null" >
        first_charge_fee,
      </if>
      <if test="weixinOnliePay != null" >
        weixin_onlie_pay,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="yuetongEtcPay != null" >
        yuetong_etc_pay,
      </if>
      <if test="yuetongParkCode != null" >
        yuetong_park_code,
      </if>
      <if test="yuetongOwnerCode != null" >
        yuetong_owner_code,
      </if>
      <if test="alipayFreeSecret != null" >
        alipay_free_secret,
      </if>
      <if test="alipayOnliePay != null" >
        alipay_onlie_pay,
      </if>
      <if test="parkType != null" >
        park_type,
      </if>
      <if test="parkMode != null" >
        park_mode,
      </if>
      <if test="yuetongParkName != null" >
        yuetong_park_name,
      </if>
      <if test="beckMerchantId != null" >
        beck_merchant_id,
      </if>
      <if test="wankeParkingId != null" >
        wanke_parking_id,
      </if>
      <if test="wankeParkingCode != null" >
        wanke_parking_code,
      </if>
      <if test="totalMonthrentCount != null" >
        total_monthrent_count,
      </if>
      <if test="accessKey != null" >
        access_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carparkName != null" >
        #{carparkName,jdbcType=VARCHAR},
      </if>
      <if test="dbid != null" >
        #{dbid,jdbcType=INTEGER},
      </if>
      <if test="secretKey != null" >
        #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="softCode != null" >
        #{softCode,jdbcType=VARCHAR},
      </if>
      <if test="parkDes != null" >
        #{parkDes,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="distance != null" >
        #{distance,jdbcType=DECIMAL},
      </if>
      <if test="subAppid != null" >
        #{subAppid,jdbcType=VARCHAR},
      </if>
      <if test="subMchId != null" >
        #{subMchId,jdbcType=VARCHAR},
      </if>
      <if test="parkId != null" >
        #{parkId,jdbcType=VARCHAR},
      </if>
      <if test="totalSpaceCount != null" >
        #{totalSpaceCount,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wankeProjectCode != null" >
        #{wankeProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="wankeSyncHouseTime != null" >
        #{wankeSyncHouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remainSpaceCount != null" >
        #{remainSpaceCount,jdbcType=INTEGER},
      </if>
      <if test="spaceLastUpdateTime != null" >
        #{spaceLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="freeTimeMinute != null" >
        #{freeTimeMinute,jdbcType=SMALLINT},
      </if>
      <if test="maxFee != null" >
        #{maxFee,jdbcType=DECIMAL},
      </if>
      <if test="firstChargeMinute != null" >
        #{firstChargeMinute,jdbcType=SMALLINT},
      </if>
      <if test="firstChargeFee != null" >
        #{firstChargeFee,jdbcType=DECIMAL},
      </if>
      <if test="weixinOnliePay != null" >
        #{weixinOnliePay,jdbcType=TINYINT},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="yuetongEtcPay != null" >
        #{yuetongEtcPay,jdbcType=TINYINT},
      </if>
      <if test="yuetongParkCode != null" >
        #{yuetongParkCode,jdbcType=VARCHAR},
      </if>
      <if test="yuetongOwnerCode != null" >
        #{yuetongOwnerCode,jdbcType=VARCHAR},
      </if>
      <if test="alipayFreeSecret != null" >
        #{alipayFreeSecret,jdbcType=TINYINT},
      </if>
      <if test="alipayOnliePay != null" >
        #{alipayOnliePay,jdbcType=TINYINT},
      </if>
      <if test="parkType != null" >
        #{parkType,jdbcType=VARCHAR},
      </if>
      <if test="parkMode != null" >
        #{parkMode,jdbcType=TINYINT},
      </if>
      <if test="yuetongParkName != null" >
        #{yuetongParkName,jdbcType=VARCHAR},
      </if>
      <if test="beckMerchantId != null" >
        #{beckMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="wankeParkingId != null" >
        #{wankeParkingId,jdbcType=VARCHAR},
      </if>
      <if test="wankeParkingCode != null" >
        #{wankeParkingCode,jdbcType=VARCHAR},
      </if>
      <if test="totalMonthrentCount != null" >
        #{totalMonthrentCount,jdbcType=INTEGER},
      </if>
      <if test="accessKey != null" >
        #{accessKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ybl.om.model.Carpark" >
    update bk_carpark
    <set >
      <if test="carparkName != null" >
        carpark_name = #{carparkName,jdbcType=VARCHAR},
      </if>
      <if test="dbid != null" >
        dbid = #{dbid,jdbcType=INTEGER},
      </if>
      <if test="secretKey != null" >
        secret_key = #{secretKey,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="softCode != null" >
        soft_code = #{softCode,jdbcType=VARCHAR},
      </if>
      <if test="parkDes != null" >
        park_des = #{parkDes,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=DECIMAL},
      </if>
      <if test="subAppid != null" >
        sub_appid = #{subAppid,jdbcType=VARCHAR},
      </if>
      <if test="subMchId != null" >
        sub_mch_id = #{subMchId,jdbcType=VARCHAR},
      </if>
      <if test="parkId != null" >
        park_id = #{parkId,jdbcType=VARCHAR},
      </if>
      <if test="totalSpaceCount != null" >
        total_space_count = #{totalSpaceCount,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wankeProjectCode != null" >
        wanke_project_code = #{wankeProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="wankeSyncHouseTime != null" >
        wanke_sync_house_time = #{wankeSyncHouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remainSpaceCount != null" >
        remain_space_count = #{remainSpaceCount,jdbcType=INTEGER},
      </if>
      <if test="spaceLastUpdateTime != null" >
        space_last_update_time = #{spaceLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="freeTimeMinute != null" >
        free_time_minute = #{freeTimeMinute,jdbcType=SMALLINT},
      </if>
      <if test="maxFee != null" >
        max_fee = #{maxFee,jdbcType=DECIMAL},
      </if>
      <if test="firstChargeMinute != null" >
        first_charge_minute = #{firstChargeMinute,jdbcType=SMALLINT},
      </if>
      <if test="firstChargeFee != null" >
        first_charge_fee = #{firstChargeFee,jdbcType=DECIMAL},
      </if>
      <if test="weixinOnliePay != null" >
        weixin_onlie_pay = #{weixinOnliePay,jdbcType=TINYINT},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="yuetongEtcPay != null" >
        yuetong_etc_pay = #{yuetongEtcPay,jdbcType=TINYINT},
      </if>
      <if test="yuetongParkCode != null" >
        yuetong_park_code = #{yuetongParkCode,jdbcType=VARCHAR},
      </if>
      <if test="yuetongOwnerCode != null" >
        yuetong_owner_code = #{yuetongOwnerCode,jdbcType=VARCHAR},
      </if>
      <if test="alipayFreeSecret != null" >
        alipay_free_secret = #{alipayFreeSecret,jdbcType=TINYINT},
      </if>
      <if test="alipayOnliePay != null" >
        alipay_onlie_pay = #{alipayOnliePay,jdbcType=TINYINT},
      </if>
      <if test="parkType != null" >
        park_type = #{parkType,jdbcType=VARCHAR},
      </if>
      <if test="parkMode != null" >
        park_mode = #{parkMode,jdbcType=TINYINT},
      </if>
      <if test="yuetongParkName != null" >
        yuetong_park_name = #{yuetongParkName,jdbcType=VARCHAR},
      </if>
      <if test="beckMerchantId != null" >
        beck_merchant_id = #{beckMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="wankeParkingId != null" >
        wanke_parking_id = #{wankeParkingId,jdbcType=VARCHAR},
      </if>
      <if test="wankeParkingCode != null" >
        wanke_parking_code = #{wankeParkingCode,jdbcType=VARCHAR},
      </if>
      <if test="totalMonthrentCount != null" >
        total_monthrent_count = #{totalMonthrentCount,jdbcType=INTEGER},
      </if>
      <if test="accessKey != null" >
        access_key = #{accessKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ybl.om.model.Carpark" >
    update bk_carpark
    set carpark_name = #{carparkName,jdbcType=VARCHAR},
      dbid = #{dbid,jdbcType=INTEGER},
      secret_key = #{secretKey,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      soft_code = #{softCode,jdbcType=VARCHAR},
      park_des = #{parkDes,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      distance = #{distance,jdbcType=DECIMAL},
      sub_appid = #{subAppid,jdbcType=VARCHAR},
      sub_mch_id = #{subMchId,jdbcType=VARCHAR},
      park_id = #{parkId,jdbcType=VARCHAR},
      total_space_count = #{totalSpaceCount,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      wanke_project_code = #{wankeProjectCode,jdbcType=VARCHAR},
      wanke_sync_house_time = #{wankeSyncHouseTime,jdbcType=TIMESTAMP},
      remain_space_count = #{remainSpaceCount,jdbcType=INTEGER},
      space_last_update_time = #{spaceLastUpdateTime,jdbcType=TIMESTAMP},
      free_time_minute = #{freeTimeMinute,jdbcType=SMALLINT},
      max_fee = #{maxFee,jdbcType=DECIMAL},
      first_charge_minute = #{firstChargeMinute,jdbcType=SMALLINT},
      first_charge_fee = #{firstChargeFee,jdbcType=DECIMAL},
      weixin_onlie_pay = #{weixinOnliePay,jdbcType=TINYINT},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      yuetong_etc_pay = #{yuetongEtcPay,jdbcType=TINYINT},
      yuetong_park_code = #{yuetongParkCode,jdbcType=VARCHAR},
      yuetong_owner_code = #{yuetongOwnerCode,jdbcType=VARCHAR},
      alipay_free_secret = #{alipayFreeSecret,jdbcType=TINYINT},
      alipay_onlie_pay = #{alipayOnliePay,jdbcType=TINYINT},
      park_type = #{parkType,jdbcType=VARCHAR},
      park_mode = #{parkMode,jdbcType=TINYINT},
      yuetong_park_name = #{yuetongParkName,jdbcType=VARCHAR},
      beck_merchant_id = #{beckMerchantId,jdbcType=VARCHAR},
      wanke_parking_id = #{wankeParkingId,jdbcType=VARCHAR},
      wanke_parking_code = #{wankeParkingCode,jdbcType=VARCHAR},
      total_monthrent_count = #{totalMonthrentCount,jdbcType=INTEGER},
      access_key = #{accessKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>