<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybl.om.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ybl.om.model.User" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="dbid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pwd" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="openid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="appid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unionid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="country" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="head_img_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sex" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="birthday" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="id_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="id_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="score" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="login_times" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="reg_ip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reg_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_login_ip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="last_login_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="last_update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="yitian_open_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="weixin_subscribe" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="alipay_secret_payment" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="alipay_agreement_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="alipay_valid_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="reg_source" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="alipay_user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="send_regist_coupon" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="recommend_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, dbid, phone, pwd, email, nickname, openid, appid, unionid, province, city, country, 
    head_img_url, sex, birthday, id_type, id_number, score, login_times, reg_ip, reg_time, 
    last_login_ip, last_login_time, status, last_update_time, yitian_open_id, weixin_subscribe, 
    alipay_secret_payment, alipay_agreement_no, alipay_valid_date, reg_source, alipay_user_id, 
    send_regist_coupon, recommend_number
  </sql>
  <select id="selectByPrimaryKey" resultType="com.ybl.om.model.User" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bk_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bk_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ybl.om.model.User" >
    insert into bk_user (id, dbid, phone, 
      pwd, email, nickname, 
      openid, appid, unionid, 
      province, city, country, 
      head_img_url, sex, birthday, 
      id_type, id_number, score, 
      login_times, reg_ip, reg_time, 
      last_login_ip, last_login_time, status, 
      last_update_time, yitian_open_id, weixin_subscribe, 
      alipay_secret_payment, alipay_agreement_no, 
      alipay_valid_date, reg_source, alipay_user_id, 
      send_regist_coupon, recommend_number)
    values (#{id,jdbcType=BIGINT}, #{dbid,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{headImgUrl,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{birthday,jdbcType=DATE}, 
      #{idType,jdbcType=TINYINT}, #{idNumber,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{loginTimes,jdbcType=INTEGER}, #{regIp,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP}, 
      #{lastLoginIp,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{yitianOpenId,jdbcType=VARCHAR}, #{weixinSubscribe,jdbcType=TINYINT}, 
      #{alipaySecretPayment,jdbcType=TINYINT}, #{alipayAgreementNo,jdbcType=VARCHAR}, 
      #{alipayValidDate,jdbcType=TIMESTAMP}, #{regSource,jdbcType=TINYINT}, #{alipayUserId,jdbcType=VARCHAR}, 
      #{sendRegistCoupon,jdbcType=TINYINT}, #{recommendNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ybl.om.model.User" >
    insert into bk_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dbid != null" >
        dbid,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="unionid != null" >
        unionid,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="headImgUrl != null" >
        head_img_url,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="idType != null" >
        id_type,
      </if>
      <if test="idNumber != null" >
        id_number,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="loginTimes != null" >
        login_times,
      </if>
      <if test="regIp != null" >
        reg_ip,
      </if>
      <if test="regTime != null" >
        reg_time,
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="yitianOpenId != null" >
        yitian_open_id,
      </if>
      <if test="weixinSubscribe != null" >
        weixin_subscribe,
      </if>
      <if test="alipaySecretPayment != null" >
        alipay_secret_payment,
      </if>
      <if test="alipayAgreementNo != null" >
        alipay_agreement_no,
      </if>
      <if test="alipayValidDate != null" >
        alipay_valid_date,
      </if>
      <if test="regSource != null" >
        reg_source,
      </if>
      <if test="alipayUserId != null" >
        alipay_user_id,
      </if>
      <if test="sendRegistCoupon != null" >
        send_regist_coupon,
      </if>
      <if test="recommendNumber != null" >
        recommend_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dbid != null" >
        #{dbid,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null" >
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=TINYINT},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="loginTimes != null" >
        #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="regIp != null" >
        #{regIp,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yitianOpenId != null" >
        #{yitianOpenId,jdbcType=VARCHAR},
      </if>
      <if test="weixinSubscribe != null" >
        #{weixinSubscribe,jdbcType=TINYINT},
      </if>
      <if test="alipaySecretPayment != null" >
        #{alipaySecretPayment,jdbcType=TINYINT},
      </if>
      <if test="alipayAgreementNo != null" >
        #{alipayAgreementNo,jdbcType=VARCHAR},
      </if>
      <if test="alipayValidDate != null" >
        #{alipayValidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="regSource != null" >
        #{regSource,jdbcType=TINYINT},
      </if>
      <if test="alipayUserId != null" >
        #{alipayUserId,jdbcType=VARCHAR},
      </if>
      <if test="sendRegistCoupon != null" >
        #{sendRegistCoupon,jdbcType=TINYINT},
      </if>
      <if test="recommendNumber != null" >
        #{recommendNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ybl.om.model.User" >
    update bk_user
    <set >
      <if test="dbid != null" >
        dbid = #{dbid,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null" >
        head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="idType != null" >
        id_type = #{idType,jdbcType=TINYINT},
      </if>
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="loginTimes != null" >
        login_times = #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="regIp != null" >
        reg_ip = #{regIp,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yitianOpenId != null" >
        yitian_open_id = #{yitianOpenId,jdbcType=VARCHAR},
      </if>
      <if test="weixinSubscribe != null" >
        weixin_subscribe = #{weixinSubscribe,jdbcType=TINYINT},
      </if>
      <if test="alipaySecretPayment != null" >
        alipay_secret_payment = #{alipaySecretPayment,jdbcType=TINYINT},
      </if>
      <if test="alipayAgreementNo != null" >
        alipay_agreement_no = #{alipayAgreementNo,jdbcType=VARCHAR},
      </if>
      <if test="alipayValidDate != null" >
        alipay_valid_date = #{alipayValidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="regSource != null" >
        reg_source = #{regSource,jdbcType=TINYINT},
      </if>
      <if test="alipayUserId != null" >
        alipay_user_id = #{alipayUserId,jdbcType=VARCHAR},
      </if>
      <if test="sendRegistCoupon != null" >
        send_regist_coupon = #{sendRegistCoupon,jdbcType=TINYINT},
      </if>
      <if test="recommendNumber != null" >
        recommend_number = #{recommendNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ybl.om.model.User" >
    update bk_user
    set dbid = #{dbid,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      birthday = #{birthday,jdbcType=DATE},
      id_type = #{idType,jdbcType=TINYINT},
      id_number = #{idNumber,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      login_times = #{loginTimes,jdbcType=INTEGER},
      reg_ip = #{regIp,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      yitian_open_id = #{yitianOpenId,jdbcType=VARCHAR},
      weixin_subscribe = #{weixinSubscribe,jdbcType=TINYINT},
      alipay_secret_payment = #{alipaySecretPayment,jdbcType=TINYINT},
      alipay_agreement_no = #{alipayAgreementNo,jdbcType=VARCHAR},
      alipay_valid_date = #{alipayValidDate,jdbcType=TIMESTAMP},
      reg_source = #{regSource,jdbcType=TINYINT},
      alipay_user_id = #{alipayUserId,jdbcType=VARCHAR},
      send_regist_coupon = #{sendRegistCoupon,jdbcType=TINYINT},
      recommend_number = #{recommendNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>