*{
	margin:0;
	padding: 0;
}
.wrap_container{
	width: 100%;
}
.wrap_container .add_busicuss_box{
	width: 100%;
	height:40px;
	line-height: 40px;
	border-bottom:1px solid rgb(148,148,148);
}
.wrap_container .add_busicuss_box .add_btn{
	width:100px;
	height:23px;
	border:0;
	margin-left: 20px;
	border-radius:3px;
}
.wrap_container .display_table_busincuss{
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
}
.wrap_container .busincuss_list tr th{
	text-align: center;
	height:38px;
	background:rgb(215,215,215)
}
.wrap_container .busincuss_list tr td{
	height:38px;
	text-align: center;
}
.look_up_btn{
	float: left;
	margin-left: 20px;
	color:rgb(102,204,255);
	cursor:pointer;
}
.dele_btn{
	color:rgb(102,204,255);
	cursor:pointer;
}
.container_wrap_layer{
	width: 100%;
}
.container_wrap_layer .one_part{
	width: 100%;
	border-bottom: 1px solid rgb(215,215,215);
	padding-bottom: 10px;
}
.container_wrap_layer .one_part .child_busincuss_name{
	width: 100%;
	height:40px;
	line-height: 40px;
}
.container_wrap_layer .one_part .child_busincuss_name .busincussName_left{
	margin-left: 20px;
}
.container_wrap_layer .one_part .child_busincuss_name .input_busincussName{
	width: 163px;
	height:23px;
	border:0;
	border:1px solid rgb(169,169,169);
	margin-left: 20px;
}
.container_wrap_layer .one_part .child_busincuss_name .input_registrant{
	width: 163px;
	height:23px;
	border:0;
	border:1px solid rgb(169,169,169);
	margin-left: 20px;
}
.container_wrap_layer .one_part .child_busincuss_name .input_phone{
	width: 163px;
	height:23px;
	border:0;
	border:1px solid rgb(169,169,169);
	margin-left: 20px;
}
.red_star{
	color: red;
}
.container_wrap_layer .two_part{
	width: 100%;
}
.container_wrap_layer .two_part .clearing_msg{
	width: 100%;
	height:40px;
	line-height: 40px;
}
.container_wrap_layer .two_part .clearing_msg .about_msg{
	margin-left: 20px;
}
.container_wrap_layer .two_part .open_account{
	width: 100%;
	height:40px;
	line-height: 40px;
}
.container_wrap_layer .two_part .open_account .bank_dress{
	margin-left: 20px;
}
.container_wrap_layer .two_part .open_account .choose_bigCity{
	width: 100px;
	height:23px;
	border:0;
	border:1px solid rgb(169,169,169);
	margin-left: 40px;
}
.container_wrap_layer .two_part .open_account .choose_smallCity{
	width: 100px;
	height:23px;
	border:0;
	border:1px solid rgb(169,169,169);
	margin-left: 10px;
}
.container_wrap_layer .two_part .open_account .input_dress_bank{
	width: 163px;
	height:21px;
	border:0;
	border:1px solid rgb(169,169,169);
	margin-left: 10px;
}
.container_wrap_layer .two_part .open_account .input_banks{
	width: 163px;
	height:21px;
	border:0;
	border:1px solid rgb(169,169,169);
	margin-left: 30px;
}
.input_about_N{
	width: 163px;
	height:21px;
	border:0;
	border:1px solid rgb(169,169,169);
}
.display_wrodN{
	margin-left: 10px;
}
.operation_box{
	width: 100%;
	height:40px;
	line-height: 40px;
}
.operation_box .about_msg_btn{
	width: 210px;
	height:40px;
	margin:0 auto;
}
.operation_box .about_msg_btn .one_submit{
	width: 90px;
	height:28px;
	border:0;
}
.operation_box .about_msg_btn .two_cancel{
	width: 90px;
	height:28px;
	border:0;
	margin-left: 10px;
}
body .yourclass{
	border-radius:5px;
}
body .yourclass .layui-layer-title{
	border-radius:5px;
}
.editor_btn{
float:right;
width: 87px;
height:22px;
border:0;
margin-top: 10px;
border-radius:3px;
}
