.wrap_container_box{width:100%}
.wrap_container_box .msg_box{width: 100%;height:40px}
.wrap_container_box .msg_box .basic_msg,.wrap_container_box .msg_box .limits_seting{height:40px;line-height: 40px;display: block;float: left;width:85px;text-align: center;cursor: pointer;}
.wrap_container_box .operator_msg_box{width:100%;height:40px;line-height:40px;border-top:1px solid darkgray}
.wrap_container_box .operator_msg_box .operator_left_section{width: 50%;float: left;}
.wrap_container_box .operator_msg_box .operator_left_section .operator_code_wrod{height:40px;line-height:40px;margin-left: 15px;}
.wrap_container_box .operator_msg_box .operator_left_section .input_operator_msg{width:165px;height:24px;border:0;outline: none;border:1px solid darkgray;margin-left: 43px;}
.wrap_container_box .operator_msg_box .party_right_section{float:left;width:50%;height:40px;line-height: 40px;}
.wrap_container_box .operator_msg_box .party_right_section .party_code_wrod{height:40px;line-height: 40px;}
.wrap_container_box .operator_msg_box .party_right_section .input_party_msg{width:165px;height:24px;border:0;outline: none;border:1px solid darkgray;margin-left: 43px;}
.wrap_container_box .operator_msg_box .red_star{color:red;}
.wrap_container_box .operator_msg_box .operator_left_section .input_name{margin-left: 66px;}
.wrap_container_box .operator_msg_box .party_right_section .input_phone_number{margin-left: 66px;}
.wrap_container_box .operator_msg_box .operator_left_section .input_email_dress{margin-left: 60px;}
.wrap_container_box .operator_msg_box{width:100%;height:40px;line-height: 40px;}
.wrap_container_box .operator_msg_box .remark_msg_box{width:100%;height:40px;line-height: 40px;border-bottom: 1px solid darkgray;}
.wrap_container_box .operator_msg_box .remark_msg_box .tip_msg{height:40px;line-height: 40px;margin-left: 15px;}
.wrap_container_box .operator_msg_box .remark_msg_box .input_tip{height:24px;width:553px;border:0;outline: none;border:1px solid darkgray;margin-left: 66px;}
.wrap_container_box .operator_comfirm_btn,.save_comfirm_btn{width:280px;margin: 0 auto;margin-top: 40px;}
.wrap_container_box .operator_comfirm_btn .save_btn,.wrap_container_box .operator_comfirm_btn .close_btn,.save_comfirm_btn .save_button,.save_comfirm_btn .close_button{width:88px;height:28px;border:0;outline: none;margin-left: 25px;}
.user_manage_container{width:605px;height:25px;line-height: 25px;background:rgb(102,204,255);margin-left: 23px;}
.user_manage_container .user_manage{margin-left: 35px;}
.select_search_box,.parking_search_box,.audit_box,.order_manage_box,.operator_search_container,.community_container,.apply_for_ECT{width:100%;height:30px;line-height: 30px;}
.select_search_box .search_select,.parking_search_box .select_parking,.audit_box .carID_search,.order_manage_box .order_manage_select,.operator_search_container .select_operator,.community_container .select_community,.apply_for_ECT .select_credit_card{margin-left: 34px;}
.parking_search_box .new_add,.parking_search_box .user_edit,.parking_search_box .delete_box,.audit_box .car_audit,.order_manage_box .loading_select,.community_container .new_increase,.community_container .select_compile,.community_container .select_remove,.apply_for_ECT .loading_from,.apply_for_ECT .select_debit_card,.apply_for_ECT .loading_memu{margin-left: 27px;}






