*{
	margin:0;
	padding:0;
}
body{
	height:100%;
	background:url(../../../img/bdg.png) no-repeat center;
}
.clear{
	height:0;
	clear:both;
	overflow: hidden;
}
.container_warp{
	width:100%;
}
.container_warp .header_pic{
	width: 100%;
	height:100px;
	line-height: 100px;
}
.container_warp .header_pic .beike_logo{
	width: 35px;
	height:43px;
	float:left;
	display: table-cell;
 	vertical-align:middle;
 	margin-left: 10%;
}
.container_warp .header_pic .beike_logo img{
	width: 100%;
	height:100%;
	vertical-align:middle;
}
.container_warp .header_pic .beike_wrod{
	font-size:32px;
	color:white;
	float:left;
}
.container_warp .header_pic .beta_logo{
	width:26px;
	height:12px;
	float:left;
}
.container_warp .header_pic .beta_logo img{
	width: 100%;
	height:100%;
}
.form_box{
	width:355px; 
	height:346px; 
	background:rgba(255,255,255,0.25);
	border-radius: 10px;
	margin-left:60%;
}
.form_box .user_pic{
	width: 73px;
	height:68px;
	margin:0 auto;
	border-radius:50%;
	padding-top: 20px;
}
.form_box .user_pic img{
	width: 100%;
	height:100%;
}
.form_box .input_box{
	width: 90%;
	margin:0 auto;
	margin-top: 20px;
}
.form_box .input_box .userName_one{
	width: 100%;
	background:white;
	border-bottom:1px solid #e8e8e7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.form_box .input_box .userPassword_two{
	width: 100%;
	background:white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.form_box .input_box .auth_code_box{
	width: 100%;
	margin-top: 20px;
}
.form_box .input_box .auth_code_box .verification_code{
	width:40%;
	float:left;
	height:42px;
	border:0;
	-webkit-appearance:none;
	outline: none;
	text-indent:10px;
	border-radius:5px;
}
.form_box .input_box .auth_code_box .display_verification_code{
	width: 40%;
	height:42px;
	float:right;
	border-radius:5px;
}
.form_box .input_box .userName_one .userName_input{
	width: 80%;
	height:42px;
	border:0;
	-webkit-appearance:none;
	outline: none;
	text-indent:10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}
.form_box .input_box .userPassword_two .userPassword_input{
	width: 80%;
	height:42px;
	border:0;
	-webkit-appearance:none;
	outline: none;
	text-indent:10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.form_box .input_box .userName_one .person_pic{
	display:block;
	width:20%;
	float: right;
	height:42px;
	background: url('../../../img/ic_user1.png') no-repeat center;
}
.form_box .input_box .userPassword_two .password_pic{
	display:block;
	width:20%;
	float: right;
	height:42px;
	background: url('../../../img/ic_key1.png') no-repeat center;
}
.btn_comfirm{
	width:100%;
	border:0;
	height:42px;
	background:#f68d12;
	color:white;
	margin-top: 20px;
	border-radius:5px;
	outline: none;
}
.footer{
	width:40%;
	position: absolute;
	bottom:20px;
	right:0;
	left:0;
	margin: 0 auto;
	color: white;
}