<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="http://lib.h-ui.net/html5.js"></script>
<script type="text/javascript" src="http://lib.h-ui.net/respond.min.js"></script>
<script type="text/javascript" src="http://lib.h-ui.net/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="http://static.h-ui.net/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="http://static.h-ui.net/h-ui/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="http://lib.h-ui.net/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="http://lib.h-ui.net/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="http://static.h-ui.net/h-ui/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="http://static.h-ui.net/h-ui/css/style.css" />
<link rel="stylesheet" type="text/css" href="../../static/h-ui/css/admin_add.css"/>
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>添加管理员 - 管理员管理 - H-ui.admin v2.4</title>
<meta name="keywords" content="H-ui.admin v2.3,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v2.3，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<!--<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" id="adminName" name="adminName">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password" name="password">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="password2" name="password2">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input name="sex" type="radio" id="sex-1" checked>
				<label for="sex-1">男</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="sex-2" name="sex">
				<label for="sex-2">女</label>
			</div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" id="phone" name="phone">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" placeholder="@" name="email" id="email">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色：</label>
		<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="adminRole" size="1">
				<option value="0">超级管理员</option>
				<option value="1">总编</option>
				<option value="2">栏目主辑</option>
				<option value="3">栏目编辑</option>
			</select>
			</span> </div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="textarealength(this,100)"></textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>-->
<div class="wrap_container_box">
	<div class="msg_box">
		<span class="basic_msg" style="background:rgb(215,215,215);">基本信息</span>
		<span class="limits_seting basic_msg">权限设置</span>
	</div>
	<div class="msg_one">
		<div class="operator_msg_box">
			<div class="operator_left_section">
				<span class="operator_code_wrod">操作员号</span>
				<input type="text" name="" id="" value="" class="input_operator_msg"/>
				<span class="red_star">*</span>
			</div>
			<div class="party_right_section">
				<span class="party_code_wrod">所属部门</span>
				<input type="text" name="" id="" value="" class="input_party_msg"/>
				<span class="red_star">*</span>
			</div>
		</div>
		<div class="operator_msg_box">
			<div class="operator_left_section">
				<span class="operator_code_wrod account_number">登录帐号</span>
				<input type="text" name="" id="" value="" class="input_operator_msg input_account_number"/>
				<span class="red_star">*</span>
			</div>
			<div class="party_right_section">
				<span class="party_code_wrod register_password">登录密码</span>
				<input type="text" name="" id="" value="" class="input_party_msg input_register_password"/>
				<span class="red_star">*</span>
			</div>
		</div>
		<div class="operator_msg_box">
			<div class="operator_left_section">
				<span class="operator_code_wrod name">姓名</span>
				<input type="text" name="" id="" value="" class="input_operator_msg input_name"/>
				<span class="red_star">*</span>
			</div>
			<div class="party_right_section">
				<span class="party_code_wrod phone_number">电话</span>
				<input type="text" name="" id="" value="" class="input_party_msg input_phone_number"/>
			</div>
		</div>
		<div class="operator_msg_box">
			<div class="operator_left_section">
				<span class="operator_code_wrod email_wrod">Email</span>
				<input type="text" name="" id="" value="" class="input_operator_msg input_email_dress"/>
			</div>
			<div class="party_right_section">
				<span class="party_code_wrod create_user">创建用户</span>
				<input type="text" name="" id="" value="" class="input_party_msg input_user"/>
			</div>
		</div>
		<div class="operator_msg_box">
			<div class="remark_msg_box">
				<span class="tip_msg">备注</span>
				<input type="text" name="" id="" value="" class="input_tip"/>
			</div>
		</div>
		<div class="operator_comfirm_btn">
			<button class="save_btn">保存</button>
			<button class="close_btn">关闭</button>
		</div>
	</div>
	<div class="msg_one" style="display: none;">
		<div class="user_manage_container">
			<span class="user_manage">用户管理</span>
		</div>
		<div class="select_search_box">
			<input type="checkbox" name="" id="" value="" class="search_select"/>
			<span class="user_search">用户查询</span>
		</div>
		<div class="user_manage_container">
			<span class="user_manage">停车场管理</span>
		</div>
		<div class="parking_search_box">
			<input type="checkbox" name="" id="" value="" class="select_parking"/>
			<span class="parking_manage">停车场查询</span>
			<input type="checkbox" name="" id="" value="" class="new_add"/>
			<span class="new_add_parking">新增</span>
			<input type="checkbox" name="" id="" value="" class="user_edit"/>
			<span class="edit">编辑</span>
		    <input type="checkbox" name="" id="" value="" class="delete_box"/>
		    <span class="delete_word">删除</span>
		</div>
		<div class="user_manage_container">
			<span class="user_manage">车牌管理</span>
		</div>
		<div class="audit_box">
			<input type="checkbox" name="" id="" value="" class="carID_search"/>
			<span class="carID_wrod">车牌查询</span>
			<input type="checkbox" name="" id="" value="" class="car_audit"/>
			<span class="car_audit_list">车辆审核列表</span>
		</div>
		<div class="user_manage_container">
			<span class="user_manage">交易管理</span>
		</div>
		<div class="order_manage_box">
			<input type="checkbox" name="" id="" value="" class="order_manage_select"/>
			<span class="order_select">交易订单查询</span>
			<input type="checkbox" name="" id="" value="" class="loading_select"/>
			<span class="loading_wrod">下载表单</span>
		</div>
		<div class="user_manage_container">
			<span class="user_manage">操作员管理</span>
		</div>
		<div class="operator_search_container">
			<input type="checkbox" name="" id="" value="" class="select_operator"/>
			<span class="operator_serach_wrod">操作员查询</span>
		</div>
		<div class="save_comfirm_btn">
			<button class="save_button">保存</button>
			<button class="close_button close_btn">关闭</button>
		</div>
	</div>
</div>

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="http://lib.h-ui.net/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="http://lib.h-ui.net/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="http://lib.h-ui.net/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="http://lib.h-ui.net/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="http://lib.h-ui.net/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="http://lib.h-ui.net/jquery.validation/1.14.0/messages_zh.min.js"></script> 
<script type="text/javascript" src="../../static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script> 
<!--/_footer /作为公共模版分离出去--> 

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").validate({
		rules:{
			adminName:{
				required:true,
				minlength:4,
				maxlength:16
			},
			password:{
				required:true,
			},
			password2:{
				required:true,
				equalTo: "#password"
			},
			sex:{
				required:true,
			},
			phone:{
				required:true,
				isPhone:true,
			},
			email:{
				required:true,
				email:true,
			},
			adminRole:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
	
	/**关闭**/
	$(".close_btn").click(function(){
		layer_close();
	})
	
	/**table切换**/
	$(".basic_msg").click(function(){
		var index = $(this).index();
		$(this).css("background","rgb(215,215,215)").siblings().css("background","");
//		$(".msg_one").css("display","block").siblings();css("display","none")
		if(index==0){
			$(".msg_one").eq(0).show();
			$(".msg_one").eq(1).hide();
		}else if(index==1){
			$(".msg_one").eq(1).show();
			$(".msg_one").eq(0).hide();
		}
	})
	/**保存**/
	$(".save_btn").click(function(){
		var data = {
			"operator_code":$(".input_operator_msg").val(),
			"section":$(".input_party_msg").val(),
			"register_name":$(".input_account_number").val(),
			"password":$(".input_register_password").val(),
			"name":$(".input_name").val(),
			"phone":$(".input_phone_number").val(),
			"email":$(".input_email_dress").val(),
			"creating_user":$(".input_user").val(),
			"beizhu":$(".input_tip").val(),
		}
		var objStr=JSON.stringify(data);
		localStorage.setItem("key",objStr);
		layer_close();
	})
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>