*{
	margin:0;
	padding: 0;
}
.wrap_container{
	width: 100%;
}
.wrap_container .bills_box{
	width: 100%;
	border-bottom: 1px solid rgb(201,201,201);
	padding-bottom: 20px;
}
.wrap_container .bills_box .undate_msg{
	width: 100%;
	height:40px;
	line-height: 40px;
}
.wrap_container .bills_box .undate_msg .undate_pic{
	width: 22px;
	height:17px;
	background:url("../../../../img/supring.png") no-repeat center;
	background-size:100% 100%;
	float:left;
	margin-top: 11.5px;
	margin-left: 20px;
}
.wrap_container .bills_box .undate_msg .undate_wrod_left{
	float:left;
	margin-left: 5px;
}
.wrap_container .bills_box .belong_order_box{
	width: 100%;
	height:40px;
	line-height: 40px;
}
.wrap_container .bills_box .belong_order_box .bill_belonging{
	margin-left: 20px;
}
.wrap_container .bills_box .belong_order_box .choose_building{
	width:160px;
	height:23px;
	border:0;
	border:1px solid rgb(169,169,169);
	margin-left: 38px;
}
.wrap_container .bills_box .seclet_time{
	width: 100%;
	height:40px;
	line-height: 40px;
}
.wrap_container .bills_box .seclet_time .deal_time{
	margin-left: 20px;
}
.wrap_container .bills_box .search_box{
	width: 100%;
	height:40px;
	line-height: 40px;
	margin-top: 10px;
}
.wrap_container .bills_box .search_box .search_btn{
	margin-left: 118px;
	width: 68px;
	height:25px;
	border:0;
	border-radius: 5px;
}
.bill_display_container{
	width: 95%;
	margin:0 auto;
	margin-top: 35px;
}
.bill_display_container .bills_list tr th{
	text-align: center;
	height:37px;
	background:rgb(242,242,242)
}
.bill_display_container .bills_list tr td{
	text-align: center;
	height:37px;
}
.look_up{
	float:left;
	margin-left: 13px;
	color:rgb(0,102,255);
	cursor:pointer;
}
.download_list{
	color:rgb(0,102,255);
	cursor:pointer;
}
.container_layer{
	width: 100%;
}
.container_layer .title_list{
	width: 100%;
	height:40px;
	line-height: 40px;
}
.container_layer .title_list .deal_time_left{
	margin-left: 20px;
}
.container_layer .display_layer_list{
	width: 95%;
	margin:0 auto;
	padding-bottom: 20px;
	overflow-x: scroll;
}
.container_layer .display_layer_list .table_layer_list{
	width:1500px;
}
.container_layer .display_layer_list .table_layer_list tr th{
	height:38px;
	text-align: center;
	background:rgb(242,242,242)
}
.container_layer .display_layer_list .table_layer_list tr td{
	height:38px;
	text-align: center;
}